[submodule "Super-LIO"]
	path = LIO-SAM_MID360_ROS2_PKG/ros2/src/Super-LIO
	url = https://github.com/ypat999/Super-LIO.git
[submodule "LIO-SAM_MID360_ROS2_PKG/ros2/src/zsi_tools/fast_lio_robosenseAiry"]
	path = LIO-SAM_MID360_ROS2_PKG/ros2/src/zsi_tools/fast_lio_robosenseAiry
	url = https://github.com/ypat999/fast_lio_robosenseAiry.git
[submodule "LIO-SAM_MID360_ROS2_PKG/ros2/src/lidar_localization_ros2"]
	path = LIO-SAM_MID360_ROS2_PKG/ros2/src/lidar_localization_ros2
	url = https://github.com/ypat999/lidar_localization_ros2.git
[submodule "Livox-SDK2"]
	path = Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_ros_driver2"]
	path = LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_ros_driver2
	url = https://github.com/ypat999/livox_ros_driver2.git
[submodule "LIO-SAM_MID360_ROS2_PKG/ros2/src/ndt_omp_ros2"]
	path = LIO-SAM_MID360_ROS2_PKG/ros2/src/ndt_omp_ros2
	url = https://github.com/rsasaki0109/ndt_omp_ros2.git
