<?xml version="1.0" encoding="UTF-8"?>

<robot name="mid360_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find livox_gazebo_ros2_gpu_simulation)/urdf/my_robot/sensor/mid360_gpu.xacro"/>  
  <xacro:include filename="$(find livox_gazebo_ros2_gpu_simulation)/urdf/my_robot/commons/common_macros.xacro"/>

  
  <!-- =============== base link =============== -->
  <link name="base_footprint"/>
    <xacro:box_xacro 
    name="base_link" 
    length="0.24" 
    width="0.1" 
    height="0.08" 
    color="${white_tou}" 
    is_child="true"
    parent_link="base_footprint"
    xyz="0 0 0.04"
    />
<!-- =============== base link =============== -->


<!-- =============== 轮子配置 =============== -->
    <xacro:cylinder_xacro 
    name="behind_left_wheel" 
    length="0.032" 
    radius="0.04" 
    color="${black}" 
    self_rpy="1.57079 0 0"
    type="continuous"
    is_child="true"
    parent_link="base_link"
    xyz="-0.08 0.07 -0.04"
    axis_xyz="0 1 0"/>

    <xacro:cylinder_xacro 
    name="behind_right_wheel" 
    length="0.032" 
    radius="0.04" 
    color="${black}" 
    self_rpy="1.57079 0 0"
    type="continuous"
    is_child="true"
    parent_link="base_link"
    xyz="-0.08 -0.07 -0.04"
    axis_xyz="0 1 0"/>

    <xacro:cylinder_xacro 
    name="ahead_left_wheel" 
    length="0.032" 
    radius="0.04" 
    color="${black}" 
    self_rpy="1.57079 0 0"
    type="continuous"
    is_child="true"
    parent_link="base_link"
    xyz="0.08 0.07 -0.04"
    axis_xyz="0 1 0"/>

    <xacro:cylinder_xacro 
    name="ahead_right_wheel" 
    length="0.032" 
    radius="0.04" 
    color="${black}" 
    self_rpy="1.57079 0 0"
    type="continuous"
    is_child="true"
    parent_link="base_link"
    xyz="0.08 -0.07 -0.04"
    axis_xyz="0 1 0"/>

<!-- =============== 轮子配置 =============== -->


<!-- =============== mid360 ============ -->
  <xacro:mid360  name="livox_frame" parent="base_link" topic="/livox/lidar" imu_topic="/livox/imu" >
    <origin xyz="0.07 0.0 0.10" rpy="0 0 0"/>
  </xacro:mid360> 
<!-- =============== mid360 ============ -->


  <!-- =============== 传感器 ============ -->
    <!-- <xacro:box_xacro
        name="imu_link" 
        length="0.02" 
        width="0.02" 
        height="0.02" 
        color="${yellow}" 
        is_child="true"
        parent_link="base_link"
        xyz="0 0 0.02" /> -->

    <!-- <xacro:box_xacro 
        name="camera_link" 
        length="0.02" 
        width="0.10" 
        height="0.02" 
        color="${black}" 
        is_child="true"
        parent_link="base_link"
        xyz="0.1 0.0 0.05"/> -->
  <!-- =============== 传感器 ============ -->

<!-- =============== 导入gazebo插件 ============ -->

<xacro:include filename="$(find livox_gazebo_ros2_gpu_simulation)/urdf/my_robot/plugins/gazebo_control_plugin.xacro" />
<xacro:include filename="$(find livox_gazebo_ros2_gpu_simulation)/urdf/my_robot/plugins/gazebo_sensor_plugin.xacro" />
<!-- =============== 导入gazebo插件 ============ -->


<!-- =============== 使用插件 ============ -->

<xacro:my_robot_ros2_control_planar />   <!-- 如果gazebo_control更改名字，请修改此处 -->
<xacro:gazebo_sensor_plugin />

<!-- gazebo_ros2_control plugin -->
<gazebo>
  <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
    <parameters>/home/ywj/dog_slam/LIO-SAM_MID360_ROS2_PKG/ros2/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/config/myrobot_ros2_controller.yaml</parameters>
  </plugin>
</gazebo>




</robot>